html body
{
    background: rgb(30, 30, 48);
    color: #f7f7f7;
}
html body div#app nav
{
    background: rgb(0, 0, 0);
}
html body div#app div.container a
{
 	color: #f7f7f7;   
}

html body div#app div.container div#divlinks a
{
 	color: black;  
}
html body div#app div.container a#allread
{
 	color: red;  
}
body div.card-header
{
    background: black;
    color: #f7f7f7;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
body div.card-body
{
    background: rgb(30, 30, 48);
    color: white;
    padding: 1px 0 4vw 0;
}
body div.card
{
	border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
}
body div.row.justify-content-center
{
	padding: 4vw;

}
html body div.modal-header
{
	color: black;
}
html body div.modal-body 
{
	color: black;
}